{
  "presets": [
    "react-native"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "actions": "./app/actions",
      },
      "extensions": [".js", ".ios.js", ".android.js"]
    }]
  ]
}
