{
  "presets": [
    "react-native"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./app"],
      "alias": {
        "components": "./app/components",
        "containers": "./app/containers"
      },
      "extensions": [".js", ".ios.js", ".android.js"]
    }]
  ]
}
